<div class="row justify-content-start stats">
  <div class="col-4">
      <ul class="list-group">
        <li class="list-group label">HP</li>
        <li class="list-group label">Attack</li>
        <li class="list-group label">Defense</li>
        <li class="list-group label">Sp. Atk</li>
        <li class="list-group label">Sp. Def</li>
        <li class="list-group label">Speed</li>
      </ul>
    </div>

    <div class="col-1">
      <ul class="list-group">
        <li class="list-group label stats-number">10</li>
        <li class="list-group label stats-number">10</li>
        <li class="list-group label stats-number">10</li>
        <li class="list-group label stats-number">10</li>
        <li class="list-group label stats-number">10</li>
        <li class="list-group label stats-number">10</li>
      </ul>
    </div>

    <div class="col-6">

      <ul class="list-group" id="status-bar-group">
        <li class="list-group label-content">
          <p><ngb-progressbar type="danger" [value]="75" height=".5rem"></ngb-progressbar></p>
        </li>
        <li class="list-group label-content">
          <p><ngb-progressbar type="success" [value]="75" height=".5rem"></ngb-progressbar></p>
        </li>
        <li class="list-group label-content">
          <p><ngb-progressbar type="danger" [value]="75" height=".5rem"></ngb-progressbar></p>
        </li>
        <li class="list-group label-content">
          <p><ngb-progressbar type="success" [value]="75" height=".5rem"></ngb-progressbar></p>
        </li>
        <li class="list-group label-content">
          <p><ngb-progressbar type="success" [value]="75" height=".5rem"></ngb-progressbar></p>
        </li>
        <li class="list-group label-content">
          <p><ngb-progressbar type="danger" [value]="75" height=".5rem"></ngb-progressbar></p>
        </li> 

      </ul>

    </div>
    <div class="w-100"></div>

  </div>