<div class="row justify-content-start stats">
  <div class="col-12">
    <ul class="list-group" *ngFor="let stat of pokemonStats; let i = index">
      <li class="list-group label">
        <div class="row">
          <div class="col-3">{{ pokemonStats[i].stat.name }}</div>
          <div class="col-2 stats-number">
            {{ pokemonStats[i].base_stat }}
          </div>

          <div class="col-7 label-content">
            <p>
              <ngb-progressbar
                type="danger"
                [value]="pokemonStats[i].base_stat"
                height=".5rem"
              ></ngb-progressbar>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
