<div class="row justify-content-center">
    <div class="col-xs-12 evolution-wrapper">
      <div class="row justify-content-center">
        <div class="col-4 ">
          <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemonId + 1}}.png">
          <p class="pokemon-name">Bulbassaur</p>
        </div>
        <div class="col-2 align-self-center">
          <i class="lni lni-arrow-right"></i> 
          <h5 class="h5">&nbsp;15</h5>
        </div>
        <div class="col-4">
          <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemonId + 2}}.png">
          <p class="pokemon-name">Bulbassaur</p>
        </div>
      </div>
    </div>

    <div class="col-xs-12 evolution-wrapper">
      <div class="row justify-content-center">
        <div class="col-4 ">
          <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemonId + 2}}.png">
          <p class="pokemon-name">Bulbassaur</p>
        </div>
        <div class="col-2 align-self-center">
          <i class="lni lni-arrow-right"></i>
          <h5 class="h5">&nbsp;15</h5>
      </div>
        <div class="col-4">
          <img src="https://pokeres.bastionbot.org/images/pokemon/{{pokemonId + 3}}.png">
          <p class="pokemon-name">Bulbassaur</p>
        </div>
      </div>
      
    </div>
</div>

