    <div class="row justify-content-start about">
      <div class="col-5">
        <ul class="list-group">
          <li class="list-group label">Species</li>
          <li class="list-group label">Height</li>
          <li class="list-group label">Weight</li>
          <li class="list-group label">Abilities</li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="list-group">
          <li class="list-group label-content">Species</li>
          <li class="list-group label-content">Height</li>
          <li class="list-group label-content">Weight</li>
          <li class="list-group label-content">Abilities</li>
        </ul>
      </div>

      <h5 class="h5">More Info</h5>
    </div>

    <div class="row justify-content-start about">
      <div class="col-5">
        <ul class="list-group">
          <li class="list-group label">Gender</li>
          <li class="list-group label">Egg Groups</li>
          <li class="list-group label">Egg Cycle</li>
        </ul>
      </div>
      <div class="col-4">
        <ul class="list-group">
          <li class="list-group label-content">Species</li>
          <li class="list-group label-content">Height</li>
          <li class="list-group label-content">Weight</li>
        </ul>
      </div>

    </div>
