.col-sm-3 {
  margin-top: 40px;
}

.card {
  padding: 10px;
  text-align: center;
}

.card {
  font-family: "Lato", sans-serif;
  color: #666666;
  font-weight: 600;
}

.card-title {
  font-family: "Lato", sans-serif;
  color: #000;
  font-weight: 600;
}

.card-title::first-letter {
  text-transform: uppercase;
}

.card-text::first-letter {
  text-transform: uppercase;
}

.btn {
  font-weight: bold;
}

@media (max-width: 600px) {
  .btn {
    width: 100%;
  }
}
