/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

body {
  background-color: #727f8c;
}

body {
  width: 100%;
  overflow-x: hidden;
}
