ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar--opened {
  width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10 auto;
  padding: 0;
  width: 80%;
}

/*---------------------------------------------------------------*/

.desktop .col-sm-6 {
  padding: 0;
}

.desktop #info-container {
  padding: 0;
}

.desktop #pokemon-image {
  width: 55%;
  height: auto;
  margin-top: 30px;
}

.desktop .image {
  padding-bottom: 20px;
  color: white;
}
.desktop .image h3 {
  font-weight: bold;
  margin-top: 15px;
}

.desktop .image h3::first-letter {
  text-transform: uppercase;
}

.desktop .image h5 {
  line-height: 0;
}

.desktop #rounded-content {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  border-radius: 38px 38px 0px 6px / 38px 38px 0px 2px;
  width: 100%;
  height: auto;
  padding: 19px;
}

.desktop .nav-tabs {
  font-weight: bold;
  font-size: 14px;
}

/*88888888888888888888888888888888888888888888888888888888888888888*/

.grass {
  background-color: #48d0b0;
  color: #48d0b0;
}

.grass a {
  color: #48d0b0;
}

.fire {
  background-color: #fb6c6c;
  color: #fb6c6c;
}

.fire a {
  color: #fb6c6c;
}

.water {
  background-color: #76bdfe;
  color: #76bdfe;
}
.water a {
  color: #76bdfe;
}

.electric {
  background-color: #ffce4b;
  color: #ffce4b;
}

.electric a {
  color: #ffce4b;
}

.ground {
  background-color: #b1736c;
  color: #b1736c;
}

.ground a {
  color: #b1736c;
}

.poison {
  background-color: #7c538c;
  color: #7c538c;
}

.poison a {
  color: #7c538c;
}

.normal {
  background-color: #deb978;
  color: #deb978;
}

.normal a {
  color: #deb978;
}

.bug {
  background-color: #deb978;
  color: #deb978;
}

.bug a {
  color: #deb978;
}

.mobile {
  display: none;
}

.desktop {
  display: initial;
}

@media (max-width: 600px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: initial;
  }
  ::ng-deep .ng-sidebar--opened {
    height: 100vh !important;
    width: 100%;
  }

  .col-sm-6 {
    padding: 0;
  }

  #info-container {
    padding: 0;
  }

  #pokemon-image {
    width: 35%;
    height: auto;
    margin-top: 30px;
    background-color: white;
  }

  .image {
    padding-bottom: 20px;
    color: white;
  }
  .image h3 {
    font-weight: bold;
    margin-top: 15px;
  }

  .image h3::first-letter {
    text-transform: uppercase;
  }

  .image h5 {
    line-height: 0;
  }

  #rounded-content {
    font-family: "Open Sans", sans-serif;
    background-color: white;
    border-radius: 38px 38px 0px 6px / 38px 38px 0px 2px;
    width: 100%;
    height: auto;
    padding: 19px;
  }

  .nav-tabs {
    font-weight: bold;
    font-size: 14px;
  }

  @media (max-height: 700px) {
    #rounded-content {
      overflow-y: auto;

      height: auto;
      padding-bottom: 20vh;
    }
  }

  @media (min-height: 700px) {
    #rounded-content {
      height: 70vh;
      padding-bottom: 15vh;
    }
  }
}
