/*
grass = #48d0b0;
fire = #fb6c6c;
water = #76bdfe;
electrical = #76bdfe;
rock = #b1736c;
poison = #76bdfe;
*/

ng-sidebar-container {
  height: 100vh;
}

::ng-deep .ng-sidebar--opened {
  background-color: hotpink;
  height: 400px;
  width: 100%;
}

.container-fluid {
  width: 80%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10 auto;
  padding: 0;
  width: 80%;
}


@media (max-width:600px) {

  .col-sm-6 {
    width: 100%;
  }

  .image {
    padding-bottom: 20px;
    color: white;
  }
  .image h3 {
    font-weight: bold;
  }
  ::ng-deep .ng-sidebar--opened {
    background-color: #48d0b0;
    height: 100vh  !important;
    width: 100%;
    /* position: revert; */
  }
/* 
  /* .image {
    background-color: ;
  } */
  #pokemon-image {
    width: 35%;
    height: auto;
    margin-top: 30px;
    background-color: white;
  }


  #info-container {
    width: 100%;
    padding: 0;
  }



  #rounded-content {
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px; 
    background-color: white;
    border-radius: 38px 38px 0px 6px / 38px 38px 0px 2px;
    height: auto;
    width: 100%;
  
    padding: 20px;
  } 

  .nav-tabs {
    font-weight: bold;
  }

  .description{
    font-weight: 200;
  }

}

